@define-color crust rgb(17, 17, 27);
@define-color red rgb(243, 139, 168);
@define-color green rgb(166, 227, 161);
@define-color teal rgb(148, 226, 213);
@define-color yellow rgb(249, 226, 175);
@define-color blue rgb(137, 180, 250);
@define-color mauve rgb(203, 166, 247);
@define-color sapphire rgb(116, 199, 236);
@define-color peach rgb(250, 179, 135);
@define-color maroon rgb(235, 160, 172);
@define-color black rgb(30, 30, 46);
@define-color white rgb(205, 214, 244);
@define-color grey rgb(49, 50, 68);
@define-color icon rgb(108, 112, 134);

* {
  min-height: 0;
  font-size: 15px;
  font-family: "Roboto", "RobotoMono Nerd Font Mono", sans-serif;
  background: transparent;
  border-radius: 0px;
}

tooltip {
  border-color: @grey;
  border-radius: 0px;
  background-color: @black;
}

.horizontal {
  padding: 0px 6px 5px 6px;
}

window#waybar {
  color: rgb(205, 214, 244);
  border-bottom: none;
  transition-property: background-color;
}

window#waybar.hidden {
  opacity: 0.2;
}


#custom-text-media {
  background-color: @teal;
  font-size: 1.8rem;
  color: @grey;
  margin-right: 0px;
  padding: 0px 10px;
}

#custom-media {
  background-color: @grey;
  border-color: @teal;
  border-width: 3px 3px 3px 0px;
  border-style: solid;
  color: @white;
  margin: 0px 11px 0px 0px;
  padding: 5px 10px;
}

#workspaces {
  background-color: @red;
  border-width: 3px;
  padding: 0px 0px;
}

#workspaces button {
  background-color: @grey;
  border-color: @red;
  border-width: 0px;
  color: @white;
  margin: 0px 0px;
  padding: 0px 7px;
}

#workspaces button label {
  font-size: 1.8rem;
  padding: 0px;
  margin: 0px;
}

#workspaces button:hover {
  color: @grey;
  background-color: @red;
  box-shadow: inherit;
}

#workspaces button.active {
  color: @grey;
  background-color: @red;
  font-weight: bold;
}

#workspaces button.urgent {
  color: @peach;
  border: 1px solid red;
}

#custom-text-network {
  background-color: @mauve;
  font-size: 1.8rem;
  color: @grey;
  margin-right: 0px;
  padding: 0px 10px;
}

#network {
  background-color: @grey;
  border-color: @mauve;
  border-width: 3px;
  border-left-width: 0px;
  border-style: solid;
  color: @white;
  margin: 0px 11px 0px 0px;
  padding: 5px 10px;
}

#custom-text-bluetooth {
  background-color: @blue;
  font-size: 1.5rem;
  color: @grey;
  margin-right: 0px;
  padding: 0px 10px;
}

#bluetooth {
  background-color: @grey;
  border-width: 3px;
  border-left-width: 0px;
  border-style: solid;
  border-color: @blue;
  margin: 0px 11px 0px 0px;
  padding: 5px 10px;
}

#custom-text-wireplumber {
  background-color: @maroon;
  font-size: 1.7rem;
  color: @grey;
  margin-right: 0px;
  padding: 0px 10px;
}

#wireplumber {
  background-color: @grey;
  border-color: @maroon;
  border-width: 3px;
  border-left-width: 0px;
  border-style: solid;
  color: @white;
  margin: 0px 11px 0px 0px;
  padding: 5px 10px;
}

@keyframes blink {
  from {
    background-color: @grey;
  }
  to {
    background-color: @red;
  }
}

#custom-text-battery {
  background-color: @green;
  font-size: 1.3rem;
  color: @grey;
  margin-right: 0px;
  padding: 0px 10px;
}

#battery {
  background-color: @grey;
  border-width: 3px;
  border-left-width: 0px;
  border-style: solid;
  border-color: @green;
  margin: 0px 11px 0px 0px;
  padding: 5px 10px;
}

#battery.charging {
  color: @green;
}

#battery.discharging {
  color: @white;
}

#battery.discharging.warning {
  color: @red;
}

#battery.discharging.critical {
  color: @white;
  border: 3px solid @green;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-text-temperature {
  font-size: 1.5rem;
  color: @grey;
  background-color: @peach;
  margin-right: 0px;
  padding: 0px 10px;
}

#temperature {
  background-color: @grey;
  border-color: @peach;
  border-width: 3px;
  border-left-width: 0px;
  border-style: solid;
  color: @white;
  margin: 0px 11px 0px 0px;
  padding: 5px 10px;
}

#temperature.critical {
  background-color: @red;
  color: @black;
}

#custom-text-clock {
  font-size: 1.7rem;
  color: @grey;
  background-color: @sapphire;
  margin-right: 0px;
  padding: 0px 10px;
}

#clock {
  background-color: @grey;
  border-color: @sapphire;
  border-width: 3px;
  border-left-width: 0px;
  border-style: solid;
  color: @white;
  margin: 0px;
  padding: 5px 10px;
}
