window {
  font-family: "Roboto";
  margin: 0px;
  border: 3px solid rgb(243, 139, 168);
  background-color: rgba(30, 30, 46, 0.96);
}

#input {
  margin: 5px;
  border: none;
  color: #f8f8f2;
  background-color: rgb(49, 50, 68);
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: transparent;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: transparent;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: rgb(205, 214, 244);
}

#text:selected {
  color: rgb(30, 30, 46);
}

#entry {
  border: none;
}

#entry:focus {
  border: none;
}

#entry:selected {
  background-color: rgb(245, 194, 231);
  border-radius: 3px;
  border: none;
  color: rgb(245, 194, 231);
}
